body {
	font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.container2{
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: url('../home/annie-spratt-135307-unsplash.png');
    min-height: 670px;
    background-size: 100%;
}

ul {
	margin-left: 20px;
    padding: 0;
}

.button_1{
    margin-left: 180px;
    margin-top: 0px;
    color: #354463;
    text-align: center;
    background: #C1F7D5 0% 0% no-repeat padding-box;;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    opacity: 1;
    border-radius: 100px;
    border: none;
    padding: 15px 32px;
}

header {
    color: #000000;
    min-height: 70px;
    margin-top: 20px;
    border-bottom: black 1px solid;
}

header #branding {
    float: left;
    margin-top: 0px;
}

header a {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    margin-left: 130px;
}

header nav {
	float: left;
}

header h3 {
    margin: 0 0 0 20px;
    padding-top: 0;
}

#showcase {
    width: 100%;
}

.dialogue-box {
    margin-left: 150px;
    margin-top: 150px;
    width: 500px;
    height: 400px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    position: fixed;
}

#showcase .dialogue-box .message {
    margin-left: 50px;
    margin-top: 50px;
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}




